name: pipeline

on:
  push:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: install deps
        run: npm install
        working-directory: ./src

      - name: build docker
        run: docker build -t test -f build/Dockerfile .



